@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    height: 100%;
    background-image: linear-gradient(to right top, #c56d09 0%, rgb(200, 90, 5) 100%);
}

body {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    border-radius: 5px;
    width: auto;
    border: orange 1px solid;
    padding: 5px 10px 5px 10px;
    margin-top: 50px;
}

input {
    border-radius: 5px;
    min-width: 65%;
    padding: 10px;
    border: none;
}

#myBtn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: rgb(158, 66, 0);
    /* transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75 ease;
    font-weight: normal; */
}

#myBtn:hover {
    background-color: rgb(224, 132, 10);
    color: #ffffff;
}