@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    height: 100%;
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
}

nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 60px 0;
}