@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    height: 100%;
    background-image: linear-gradient(to right top, #c56d09 0%, rgb(200, 90, 5) 100%);
}

h1{
    text-align: center;
}
input {
    border: none;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin-left: 330px;
}

#myBtn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: rgb(158, 66, 0);
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75 ease;
    font-weight: normal;
}

#myBtn:hover {
    background-color: rgb(224, 132, 10);
    color: #ffffff;
}